*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.i linguist-language=C++
*.asm linguist-language=Assembly
*.o linguist-language=Assembly
*.exe linguist-language=Assembly
*.sh linguist-language=Shell
*.bat linguist-language=Batchfile
*.py linguist-language=Python
